<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Reject</title>
    <!--  link for datable  -->
		<script language="JavaScript" src="https://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript">
    </script>
    <link th:href="@{../vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
    <!-- END -->

    <!-- Bootstrap CSS CDN -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
    </script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <div class="row">    
                    <div class="col-sm-6 text-center">
                        <a href="/member/profile">
                            <img src="/img/admin.png" class="img-circle" width="50px;" height="50px;" 
                        alt="image">
                        </a>
                        <h4 th:text="${Emp_Name}"></h4>
                    </div>
                    <div class="col-sm-6 text-center" style="margin-top: 40px;">
                        <a href="/main/login" onclick="if(!(confirm('Are you sure ?'))) return false"><i class="material-icons">settings_power</i> </a>
                    </div>
                 </div>
            </div>
			<hr style="background-color:white;">
            <ul class="list-unstyled components" >
                <h4 style="text-align: center;">Action</h4>
                <li>
                    <a href="/member/project">Project</a>
                </li>
                <h4 style="text-align: center;">Tools Request</h4>
                <li>
                    <a href="/member/pending">Pending</a>
                </li>
                <li>
                    <a href="/member/accept">Accept</a>
                </li>
                <li class="active">
                    <a href="/member/reject">Reject</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-primary">
                <button type="button" id="sidebarCollapse" class="btn">
                    <i class="fa fa-align-justify"></i>                        
                </button>
                <div class="navbar-header">
                    <a href="" class="navbar-brand" style="color: white;font-size: 2.2vw;">ICT Star Group Myanmar</a>
                </div>                
            </nav> 
            <!-- You can write your design of project in this tag(div) --> 
            <div class="container-fluid" id="page_height">
                <h3>Rejected Tools</h3>
                                <table class="table table-hover" id="dataTable" width="100%">
                                    <thead>
                                      <tr>
                                        <th>Project</th>
                                        <th>Tools</th>
                                        <th>Size</th>
                                        <th>Qty</th>
                                        <th>Date Time</th>
                                        <th>Rejected By</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr th:each="RejectList : ${RejectList}">
                                        <td th:text="${RejectList.projectRequests.pj_name}"></td>
                                        <td th:text="${RejectList.toolAssetRequests.name}"></td>
                                        <td th:text="${RejectList.toolAssetRequests.size}"></td>
                                        <td th:text="${RejectList.request_qty}"></td>
                                        <td th:text="${RejectList.date_time}"></td>
                                        <td th:text="${RejectList.rejectby}"></td>
                                      </tr>                              
                                    </tbody>
                                </table>
            </div>
            <!-- end custom design -->
            <!-- start footer -->
            <div class="container-fluid bg-primary text-center" style="height: 40px; padding-top: 10px;">
                &copy;
                <script>
                  document.write(new Date().getFullYear())
                </script>.All rights reserved.<!-- , made with <i class="material-icons">favorite</i> by
                <a href="">TZM</a>. -->
          </div> 
          <!-- end footer -->
        </div>
    </div>
   

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
        $(document).ready(function() {
            $('#dataTable').DataTable( {
                " autoWidth ":true,
               "paging":   true,
                "ordering": true,
               "searching": true,
                 "paging": true, 
                 "info": true,         
                "lengthChange":false, 
            } );
            
        } );
        </script>
        <script src="../vendor/jquery/jquery.min.js"></script>
  	  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  	
  	  <!-- Core plugin JavaScript-->
  	  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
  	
  	  <!-- Custom scripts for all pages-->
  	  <script src="../js/sb-admin-2.min.js"></script>
  	
  	  <!-- Page level plugins -->
  	  <script src="../vendor/datatables/jquery.dataTables.min.js"></script>
  	  <script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>
  	
  	  <!-- Page level custom scripts -->
  	  <script src="../js/demo/datatables-demo.js"></script>



    
</body>

</html>