<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Department</title>
    <!--  link for datable  -->
    <script language="JavaScript" src="https://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript">
    </script>
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!-- END -->

    <!-- Bootstrap CSS CDN -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
    </script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
     <link rel="stylesheet"  th:href="@{/css/admin/showdept.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/showdept.css}">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
           <div class="sidebar-header">
                <div class="row">    
                    <div class="col-sm-6 text-center">
                         <a href="/admin/adminprofile">
	                        <img src="/img/admin.png" class="img-circle" width="50px;" height="50px;" 
	                        alt="image">
                        </a>
                        <h4 th:text="${empName}"></h4>
                    </div>
                    <div class="col-sm-6 text-center" style="margin-top: 40px;">
                        <a href="/main/login" onclick="if(!(confirm('Are you sure ?'))) return false"><i class="material-icons">settings_power</i> </a>
                    </div>
                 </div>
            </div>
            <hr>
            <ul class="list-unstyled components" >
                <h4 style="text-align: center;">Action</h4>
               <!--  <li class="active">
                    <a href="#">Project</a>
                </li>
                <h4 style="text-align: center;">Requested Tools</h4> -->
                <li class="active">
                    <a th:href="@{/admin/adminViewDepartment}">Departments</a>
                </li>
                <li class="">
                    <a th:href="@{/admin/adminViewEmployee}">Employees</a>
                </li>
                <li class="">
                    <a th:href="@{/admin/adminViewProject}">Projects</a>
                </li>
                 <li class="">
                    <a th:href="@{/admin/adminFixedAsset}">Assets</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-primary">
                <button type="button" id="sidebarCollapse" class="btn">
                    <i class="fa fa-align-justify"></i>                        
                </button>
                <div class="navbar-header">
                    <a href="" class="navbar-brand" style="color: white;font-size: 2.2vw;">ICT Star Group Myanmar</a>
                </div>                
            </nav> 
            <!-- You can write your design of project in this tag(div) --> 
            <div class="container-fluid">
                <div>
                    <label style="font-size: 30px;">Department List</label>
                    <div class="text-right">
                        <a th:href="@{/admin/addDeptForm}" class="btn btn-primary" id="new_btn"> + Add Department</a>
                    </div>
                </div>
                
               <div class="table-responsive" style="min-height: 450px;">
                <div class="cardrow">
	                    <div class="col-md-3" th:each="AllDept : ${dept_card}">
	                            	
	                        	   <a th:href="@{/admin/adminViewDeptMember(Dept_id=${AllDept.dept_id})}">
	                        	   <div class="card">
	                                <div class="card-body">
	                                    <p class="p_weight" th:text="${AllDept.dept_name}" ></p>
	                                      <p th:text="${deptEmpTotal}" class="p_body" style="padding-right:50px"></p>
	                                    <p th:text="${deptPjTotal}" class="p_body" style="padding-right:50px"></p>
	                                    
	                                </div>
	                            </div>
	                             </a>
	                    </div>
                    
                     
            	</div>
           	 </div>
           	  
        </div>
           <!-- end -->  
               <div class="container-fluid bg-primary text-center" style="height: 40px; padding-top: 10px;">
                &copy;
                <script>
                  document.write(new Date().getFullYear())
                </script>.All rights reserved.
          </div>   
         </div>
         </div>
    <script type="text/javascript">
 $(document).ready(function() {
    $('#dataTable').DataTable( {
        " autoWidth ":true,
       "paging":   true,
        "ordering": true,
       "searching": true,
         "paging": true, 
         "info": true,         
        "lengthChange":false 
 
        } );
    
} );

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });

    </script>
    <script src="../vendor/jquery/jquery.min.js"></script>
	  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	
	  <!-- Core plugin JavaScript-->
	  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
	
	  <!-- Custom scripts for all pages-->
	  <script src="../js/sb-admin-2.min.js"></script>
	
	  <!-- Page level plugins -->
	  <script src="../vendor/datatables/jquery.dataTables.min.js"></script>
	  <script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>
	
	  <!-- Page level custom scripts -->
	  <script src="../js/demo/datatables-demo.js"></script>
</body>

</html>