 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Office Assets Management</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
</head>
<style type="text/css">
	body{
		 background-image: url(../img/bg2.jpg);
	
	}
	@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
	label{
		color: white;
		font-size:17px;
	}
	p{
		border: 2px solid #0066ff;
		background-color:white;
		border-radius:10px; 
		font-size: 40px;
		font-weight: bold;
		color: #0066ffd6;
	}
  

  .modal-content{
		background: linear-gradient(to left, #33ccff 0%, #0066ff 100%);;
		width: 60%;
		border-radius: 15px;
		margin-left: 30px;
	}
	@media (max-width: 768px){
	 	.modal-content{
	 		width: 100%;
	 		margin-left: 0;
	 	}
	 }
	.modal-heading h2{
		color:#fff;
		font-weight: bold;
	}

	.modal-body{
		border-radius: 10px;
		margin: 10px 10px;
		background-color: transparent;
	}

  	#all{
 		height: 100%;
 		margin-top: 9%;
 	}
 	
	#header{
		font-weight: bold;
		color: white;
		font-size: 30px;
	}
	#new_btn{
	    color: #0066ff;
	    background-color: white;
	    border-radius: 10px;
	    border: none;
	    width: 120px;
	    font-weight: bold;
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	 #text{
	 	font-weight: bold;
	 	color: white;
	 	margin-top: 30px;

	 }
	 
	 #card{
	 	font-family: sans-serif;
	 	font-weight: bold;

	 }
</style>
<body>
	<div id="header" class="text-center">
		<div class="w3-container w3-center w3-animate-right"><img src="../img/logo-isgm.svg" width="83px" height="50px"  style="font-size: 40px;font-weight: bold;background-color: #fff;border: 2px solid #0066ff;border-radius:10px;margin-right: 20px;margin-left: -20px;margin-top:10px; ">
	ICT Star Group Myanmar Co.,Ltd.</div>
	<hr>
	<div class="container" id="all">
		<div class="row">
			<div class="col-md-7 text-center" id="text">
				<div class="w3-container w3-center w3-animate-left"><p style="font-size: 50px;">OFFICE ASSETS MANAGEMENT</p></div>
				<div class="w3-container w3-center w3-animate-left"><p style="font-size: 30px;margin-top: 30px;">Work for smile! Work for happiness!</p></div>
			</div>
		
				<div class="col-md-5 text-center">
				<div class="modal-dialog" id="card">
					<div class="modal-content">
					<div class="w3-container w3-center w3-animate-left">
						<div class="modal-heading">
							<img src="../img/admin.png" alt="Avatar" class="avatar" style="width: 50px;height: 50px;width: 75px;height: 74px;margin-top: -31px;">
						</div>
						<div class="modal-body">
							<form th:action="@{/main/which_role}" role="form" method="POST">
								<div class="form-group">
									<label for="email">Email:</label>
									<input type="email"  class="form-control" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
								</div>
								<div class="form-group">
									<label for="pwd">Password:</label>
									<input type="password" class="form-control" id="password" name="password">
								</div>
								<div>
									<h4 th:text="${error}" style="color:red;"></h4>
								</div>
								
								<div class="form-group text-center">
									<button type="submit" class="btn" id="new_btn">Login</button>
								</div>

							</form>
						</div>
					</div>
					</div>
				</div>
			
			</div>
		</div>		
	</div>
	

	
</body>

</html>  