<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Employee's Profile</title>
    <!--  link for datable  -->
    <!-- END -->
    <script language="JavaScript" src="https://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript">
    </script>

    <!-- Bootstrap CSS CDN -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
    </script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <div class="row">    
                    <div class="col-sm-6 text-center">
                        <a href="/departmenthead/deptProfile">
                            <img src="../img/admin.png" class="img-circle" width="50px;" height="50px;" 
                        alt="image">
                        </a>
                        <h4 th:text="${profile.emp_name}"></h4>
                    </div>
                    <div class="col-sm-6 text-center" style="margin-top: 40px;">
                        <a href="/main/login" onclick="if(!(confirm('Are you sure ?'))) return false"><i class="material-icons">settings_power</i> </a>
                    </div>
                 </div>
            </div>
			<hr style="background-color:white;">
            <ul class="list-unstyled components" >
                 <h4 style="text-align: center;">Action</h4>  
               <li >
                    <a href="/departmenthead/projectlists">Project Lists</a>
                </li>
                
                
                <li >
                    <a href="/departmenthead/pending">Pending</a>
                </li>
                <li>
                    <a href="/departmenthead/accept">Accept</a>
                </li>
                <li>
                    <a href="/departmenthead/reject">Reject</a>
                    
                </li>
                <li >
                    <a href="/departmenthead/employeelists">Employee Lists</a>
                </li>
                <li >
                    <a href="/departmenthead/fixedAssetList">Assets</a>
                </li>
                
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-primary">
                <button type="button" id="sidebarCollapse" class="btn">
                    <i class="fa fa-align-justify"></i>                        
                </button>
                <div class="navbar-header">
                    <a href="" class="navbar-brand" style="color: white;font-size: 2.2vw;">ICT Star Group Myanmar</a>
                </div>                
            </nav> 
            <!-- You can write your design of project in this tag(div) --> 
            <div class="container-fluid" style="min-height: 600px;">
                <div class="text-center">
                	<div class="profile">
                		<img src="../img/admin.png" width="70px" height="70px" alt="profile" class="img-circle">
              			<h3 th:text="${profile.emp_name}"></h3>
                	</div>
                	<div class="row">
                		<div class="col-md-6 text-center" id="body_content">
	                		<form class="form-horizontal" role="form" th:action="@{/departmenthead/updateProfile}" th:object="${profile}" method="POST">
							  <div class="form-group">
							    <label class="control-label col-sm-6" for="role">Role:</label>
							    <div class="col-sm-6">
							      <input type="text" name="role" th:field="*{role_name}" class="form-control" disabled>
							    </div>
							  </div>
							  <div class="form-group">
							    <label class="control-label col-sm-6" for="email">Email:</label>
							    <div class="col-sm-6">
							      <input type="text" name="email" th:field="*{email}" class="form-control" disabled>
							    </div>
							  </div>
							  <!-- <div class="form-group">
							    <label class="control-label col-sm-6" for="password">password:</label>
							    <div class="col-sm-6">
							      <input type="text" name="password" th:field="*{password}" class="form-control" id="myInput" onclick="myFunction()">
							    </div>
							  </div> -->
							  <div class="form-group">
							    <label class="control-label col-sm-6" for="date_of_birth">Date Of Birth:</label>
							    <div class="col-sm-6">
							      <input type="text" name="date_of_birth" th:field="*{dob}" class="form-control" disabled>
							    </div>
							  </div>
							  <div class="form-group">
							    <label class="control-label col-sm-6" for="phone">Phone:</label>
							    <div class="col-sm-6">
							      <input type="tel" name="phone" th:field="*{phone}" class="form-control" disabled>
							    </div>
							  </div>
							   <div class="form-group">
							    <label class="control-label col-sm-6" for="address">Address:</label>
							    <div class="col-sm-6">
							      <input type="text" name="address" th:field="*{address}" class="form-control" disabled>
							    </div>
							  </div>
							  <div class="form-group">
							    <label class="control-label col-sm-6" for="start_date">Start Date:</label>
							    <div class="col-sm-6">
							      <input type="text" name="start_date" th:field="*{start_date}" class="form-control" disabled>
							    </div>
							  </div>
							</form>
                		</div>
                		<div class="col-md-6 text-center">
                			<h4>Change Password</h4>
                			<hr>
                			<h5 th:text="${error}" style="color:red;"></h5>
							<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
							
								<form method="post" th:action="@{/departmenthead/changePassword}" role="form" id="passwordForm">
									<input type="password" class="form-control" name="current" id="current" placeholder="currentPassword" autocomplete="off"><br>
									<input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" class="form-control" name="password1" id="password1" placeholder="New Password" autocomplete="off">
									<div class="row">
										<div class="col-sm-12">
											<span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 8 Characters Long<br>
											
										</div>
										
									</div>
									<input type="password" class="form-control" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off">
									<div class="row">
										<div class="col-sm-12">
											<span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Passwords Match
										</div>
									</div>
									<input type="submit" class="btn" id="new_btn" data-loading-text="Changing Password..." value="Change Password">
								</form>
								</div><!--/col-sm-6-->
							</div>
                		</div>
                	</div>
                	
                	
                </div>
            </div>   
            <!-- end -->
            <div class="container-fluid bg-primary text-center" style="height: 40px; padding-top: 10px;">
                &copy;
                <script>
                  document.write(new Date().getFullYear())
                </script>.All rights reserved.
          </div>      
        </div>
    </div>
   

    

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
        function myFunction() {
		  var x = document.getElementById("myInput");
		  if (x.type === "password") {
		    x.type = "text";
		  } else {
		    x.type = "password";
		  }
		}
        $("input[type=password]").keyup(function(){
            
        	
        	if($("#password1").val().length >= 8){
        		$("#8char").removeClass("glyphicon-remove");
        		$("#8char").addClass("glyphicon-ok");
        		$("#8char").css("color","#00A41E");
        	}else{
        		$("#8char").removeClass("glyphicon-ok");
        		$("#8char").addClass("glyphicon-remove");
        		$("#8char").css("color","#FF0004");
        	}
        	
        	
        	if(($("#password1").val() == $("#password2").val()) && $("#password1").val() != ''){
        		$("#pwmatch").removeClass("glyphicon-remove");
        		$("#pwmatch").addClass("glyphicon-ok");
        		$("#pwmatch").css("color","#00A41E");
        	}else{
        		$("#pwmatch").removeClass("glyphicon-ok");
        		$("#pwmatch").addClass("glyphicon-remove");
        		$("#pwmatch").css("color","#FF0004");
        	}
        });

    </script>

</body>

</html>