#project_info h3{
	margin-left: 30px;
}

#project_info .card-text {
	margin-left: 40px;
}

#project_info span {
	color: #808080;

}

/*tabs*/

#tabs a:hover {
    text-decoration:none;
}

#tabs a:focus {
	color: blue;
}

.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin-bottom: 5px;
    padding: 20px;
}

.bs-callout:last-child {
    margin-bottom: 0px;
}

#request_tool .select_tool {
	text-align: center;
}

#request_tool button {
	float: right;
	margin-right: 15px;
}

/* For Firefox */
#tool_name {
	-webkit-appearance: none;
	border: none;
}

/* For IE10 */
#tool_name::-ms-expand {
	display: none;
	color : blue;
}



