<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Accept Tool List</title>
    <!--  link for datable  -->
    <script language="JavaScript" src="https://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript">
    </script>
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
    <!-- END -->

    <!-- Bootstrap CSS CDN -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
    </script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
     <link rel="stylesheet" th:href="@{/css/showasset.css}">
    <link rel="stylesheet" type="text/css" href="/css/member/project_detail.css">
 
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <div class="row">    
                    <div class="col-sm-6 text-center">
                        <img src="/img/admin.png" class="img-circle" width="50px;" height="50px;" 
                        alt="image">
                        <h4 th:text="${Emp_Name}"></h4>
                    </div>
                    <div class="col-sm-6 text-center" style="margin-top: 10px;">
                        <a href=""><i class="fas fa-bell" id="icon" style="font-size: 23px;"></i>
                        </a>
                        <br><br>
                        <a href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">settings</i> </a>
                        <div class="dropdown-menu shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                              <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                              Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                              <a href="/main/login"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                              Logout</a>
                            </a>
                        </div>
                    </div>
                 </div>
            </div>
            <hr>
            <ul class="list-unstyled components" >
                <h4 style="text-align: center;">Action</h4>
                <li >
                    <a href="/OperationTeam/fixedasset">Assets</a>
                </li>
                <li >
                    <a href="/OperationTeam/history">History</a>
                </li>
                <li>
                    <a href="/OperationTeam/showPending">Pending</a>
                </li>
                <li class="active" >
                    <a href="/OperationTeam/showAcceptList">Accept</a>
                </li>
                <li >
                    <a href="/OperationTeam/showRejectList">Reject</a>
                </li>
                <li >
                    <a th:href="@{/OperationTeam/showUsers}">Employee</a>
                </li>
            </ul>
        </nav>
        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-primary">
                <button type="button" id="sidebarCollapse" class="btn">
                    <i class="fa fa-align-justify"></i>                        
                </button>
                <div class="navbar-header">
                    <a href="" class="navbar-brand" style="color: white;font-size: 2.2vw;">ICT Star Group Myanmar</a>
                </div>                
            </nav> 
            <!-- You can write your design of project in this tag(div) --> 
            <div class="container-fluid" id="page_height">
                <div>
                    <label style="font-size: 30px;">Accept Tool Lists</label>
                </div>
                
                <div class="table-responsive" style="min-height: 500px;">
                            <table class="table table-hover" id="dataTable" width="100%">
                              <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Size</th>
                                    <th>Quantity</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                   <tr th:each="acceptView:${accept}" th:style="${acceptView.return_date} ? ${'background:green;color:white;'}"> 
                                   		<!-- <form class="select_tool" th:action="@{/OperationTeam/toolDamage}" th:object="${toolDamage}"  method="POST"> -->
                                   		<td th:text="${acceptView.toolAssetRequests.name}"></td>
                                   		<td th:text="${acceptView.toolAssetRequests.size}"></td>
                                   		<td th:text="${acceptView.accept_qty}"></td>
                                   		<td>
                                   			<!-- <select  id="tool_name" th:field="*{request_id}" style="display:none;">
                                   				<option  th:text="${acceptView.request_id}" th:value="${acceptView.request_id}"></option>
                                   			</select> -->
                                   			<!-- <select name="Quantity" th:field="*{qty}">
												    <option>Select</option>
												    <option th:each="n : ${#numbers.sequence(1,acceptView.accept_qty)}" th:value="${n}" th:text="${n}"/>
											</select> -->
											<!-- <button type="submit" class="btn btn-primary" id="remove_btn">Damage</button> -->
											<a th:style="${acceptView.return_date} ? ${'display:none;'}" th:href="@{/OperationTeam/returnTools(req_id=${acceptView.request_id})}" class="btn" id="new_btn">Return</a>
										</td>
										<!-- </form> -->
									</tr>
									
                            </tbody>
                        </table>
                       <!-- <a th:href="@{/OperationTeam/returnTools(tool_set_id=${tool_set_id})}" class="btn" id="new_btn">Returned</a> -->
                    </div>
                
            </div>   
            <!-- end -->
            <div class="container-fluid bg-primary text-center" style="height: 40px; padding-top: 10px;">
                &copy;
                <script>
                  document.write(new Date().getFullYear())
                </script>.All rights reserved.<!-- , made with <i class="material-icons">favorite</i> by
                <a href="">TZM</a>. -->
          </div>      
        </div>
    </div>
   

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script> -->

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
        $(document).ready(function() {
            $('#dataTable').DataTable( {
                " autoWidth ":true,
               "paging":   true,
                "ordering": true,
               "searching": true,
                 "paging": true, 
                 "info": true,         
                "lengthChange":false 
            } );
            
        } );

    </script>
    <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/datatables-demo.js"></script>
</body>

</html>