<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Fixed Asset</title>
    <!--  link for datable  -->
    <script language="JavaScript" src="https://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript">
    </script>
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
    <!-- END -->

    <!-- Bootstrap CSS CDN -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
    </script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
     <link rel="stylesheet" th:href="@{/css/showasset.css}">
     <link rel="stylesheet" type="text/css" href="/css/member/project_detail.css">
 
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <div class="row">    
                    <div class="col-sm-6 text-center">
                    
                         <a th:href="@{/OperationTeam/profile}">
                            <img src="../img/admin.png" class="img-circle" width="50px;" height="50px;" 
                        alt="image">
                        </a>
                       <h4 th:text="${Emp_Name}"></h4>
                    </div>
                    <div class="col-sm-6 text-center" style="margin-top: 10px;">
                        <a href=""><i class="fas fa-bell" id="icon" style="font-size: 23px;"></i>
                        </a>
                        <br><br>
                        <a href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">settings_power</i> </a>
                        <div class="dropdown-menu shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" 
                            data-target="#logoutModal">
                              <a href="/main/login"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                              Logout</a>
                            </a>
                        </div>
                    </div>
                 </div>
            </div>
            <hr>
            <ul class="list-unstyled components" >
                <h4 style="text-align: center;">Action</h4>
                <li class="active">
                    <a href="/OperationTeam/fixedasset">Assets</a>
                </li>
                <li>
                    <a href="/OperationTeam/history">History</a>
                </li>
                <li class="">
                    <a href="/OperationTeam/showPending">Pending</a>
                </li>
                <li class="">
                    <a href="/OperationTeam/showAcceptList">Accept</a>
                </li>
                <li class="">
                    <a href="/OperationTeam/showRejectList">Reject</a>
                </li>
                <li class="">
                    <a th:href="@{/OperationTeam/showUsers}">Employee</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-primary">
                <button type="button" id="sidebarCollapse" class="btn">
                    <i class="fa fa-align-justify"></i>                        
                </button>
                <div class="navbar-header">
                    <a href="" class="navbar-brand" style="color: white;font-size: 2.2vw;">ICT Star Group Myanmar</a>
                </div>                
            </nav> 
            <!-- You can write your design of project in this tag(div) --> 
            <div class="container-fluid" id="page_height">
               <!--card view-->
               <div class="container">
                    <div class="row">
                    <div class="col-md-3" >
                    
                            <div class="card">
                                <a th:href="@{/OperationTeam/fixedasset}">
                                    <div class="card-body">
                                    <p>Fixed Assets</p>
                                    <p th:text="${fixedTotal}"></p>
                                    </div>
                                </a>
                            </div>
                    
                    </div>
                    
                    <div class="col-md-3" >
                   
                            <div class="card">
                             
                             <a th:href="@{/OperationTeam/itasset}">
                                    <div class="card-body">
                                    <p>IT Assets</p>
                                     <p th:text="${itTotal}"></p>
                                    </div>
                                </a>
                            </div>
                   
                     </div>
                    
                    <div class="col-md-3" >
                   
                            <div class="card">
                               <a th:href="@{/OperationTeam/toolasset}">
                                    <div class="card-body">
                                    <p>Tool Assets</p>
                                     <p th:text="${total}"></p>
                                    </div>
                                </a>
                            </div>
                    </div>
                    
                </div>

            </div>
            <br><h4>Fixed Asset Lists</h4>
            <br><button class="btn" id="new_btn"><a th:href="@{/OperationTeam/insertFixed}" >Add New Tools</a></button>
             <table class="table table-hover" id="dataTable" width="100%">
                              <thead>
                                <tr>
                                    
                                    <th class="text-center">Fixed_asset_id</th>
                                    <th class="text-center">Name</th>                                   
                                    <th class="text-center">Purchase_Date</th>
                                    <th class="text-center">Price</th>
                                    <th class="text-center">Department</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                  <tr th:each="assetList : ${assetList}">
				<td class="text-center" th:text="${assetList.fixed_asset_id}"></td>
				<td class="text-center" th:text="${assetList.name}"></td>
				<td class="text-center" th:text="${assetList.purchase_date}"></td>
				<td class="text-center" th:text="${assetList.price}"></td>
				<td class="text-center" th:text="${assetList.deptFixedAssetList} ? ${assetList.deptFixedAssetList.departmentFixedAsset.dept_name} : 'no dept' ">
					
				</td>				
				<td class="text-center">
				<button class="btn" id="new_btn" data-toggle="modal" th:attr="data-target='#myModal'+${assetList.fixed_asset_id}">Add Dept</button>
 				<a th:href="@{/OperationTeam/updateFixed(fixedId=${assetList.fixed_asset_id})}" class="btn" id="new_btn" >Update</a> 			
 				<a th:href="@{/OperationTeam/delete(fixedId=${assetList.fixed_asset_id})}" class="btn" id="remove_btn" onclick="if(!(confirm('Are you sure to delete'))) return false">Delete</a>
				</td>
				
				<!-- modal -->
				<div class="modal fade" th:id="myModal+${assetList.fixed_asset_id}">
					    <div class="modal-dialog">
					      <div class="modal-content">
					      	<form th:action="@{/OperationTeam/addFixedAssetDept}" th:object="${deptFixedAsset}"  method="POST">
					        <!-- Modal Header -->
					        <div class="modal-header">
					          <h4 class="modal-title">Department List</h4>
					          <button type="button" class="close" data-dismiss="modal">×</button>
					        </div>
					        
					        <!-- Modal body -->
					        <div class="modal-body">
					 
					        		<select  id="tool_name" th:field="*{fixed_asset_id}">
                                             <option th:value="${assetList.fixed_asset_id}" th:text="${assetList.fixed_asset_id}"></option>                                
                                    </select>
					          		<select  th:field="*{dept_id}">
					          			<option th:each="deptList : ${deptList}" th:value="${deptList.dept_id}" th:text="${deptList.dept_name}"></option>
					          		</select>
					          
					        </div>
					        
					        <!-- Modal footer -->
					        <div class="modal-footer">
					          <button type="submit" class="btn" id="new_btn">Add</button>
					        </div>
				        	</form>
				      </div>
				    </div>
				  </div>
				  
			</tr>
                          </tbody>
                        </table>
                        
                </div>
               
            <!-- end -->   
            <div class="container-fluid bg-primary text-center" style="height: 40px; padding-top: 10px;">
                &copy;
                <script>
                  document.write(new Date().getFullYear())
                </script>.All rights reserved.<!-- , made with <i class="material-icons">favorite</i> by
                <a href="">TZM</a>. -->
          </div>   
        </div>
    </div>
   

 <script type="text/javascript">
 $(document).ready(function() {
    $('#dataTable').DataTable( {
        " autoWidth ":true,
       "paging":   true,
        "ordering": true,
       "searching": true,
         "paging": true, 
         "info": true,         
        "lengthChange":false 
    } );
    
} );

    </script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });


    </script>
    <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../js/demo/datatables-demo.js"></script>
</body>

</html>