<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Project Detail</title>
    <!--  link for datable  -->

    <!-- END -->

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
    </script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/member/project_detail.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <div class="row">    
                    <div class="col-sm-6 text-center">
                        <a href="/member/profile">
                            <img src="/img/admin.png" class="img-circle" width="50px;" height="50px;" 
                        alt="image">
                        </a>
                        <h4 th:text="${Emp_Name}"></h4>
                    </div>
                    <div class="col-sm-6 text-center" style="margin-top: 40px;">
                        <a href="/main/login" onclick="if(!(confirm('Are you sure ?'))) return false"><i class="material-icons">settings_power</i> </a>
                    </div>
                 </div>
            </div>
			<hr style="background-color:white;">
            <ul class="list-unstyled components" >
                <h4 style="text-align: center;">Action</h4>
                <li class="active">
                    <a href="/member/project">Project</a>
                </li>
                <h4 style="text-align: center;">Tools Request</h4>
                
                <li>
                    <a href="/member/pending">Pending</a>
                </li>
                <li>
                    <a href="/member/accept">Accept</a>
                </li>
                <li>
                    <a href="/member/reject">Reject</a>
                </li>
                
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-primary">
                <button type="button" id="sidebarCollapse" class="btn">
                    <i class="fa fa-align-justify"></i>                        
                </button>
                <div class="navbar-header">
                    <a href="" class="navbar-brand" style="color: white;font-size: 2.2vw;">ICT Star Group Myanmar</a>
                </div>                
            </nav> 
            <!-- You can write your design of project in this tag(div) --> 
            <div class="container-fluid" id="page_height">
                <!-- project information -->
                <div id="project_info">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="well">
                                <!-- <div class="card-body"> -->
                                    <div class="page-header">
                                        <h3>Project Information</h3>
                                    </div>
                                    <!-- <div class="card-text"> -->
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="col-sm-6">Project Name</div><div class="col-sm-6"><span th:text="${projectDetail.pj_name}"></span></div>
                                                <div class="col-sm-6">Manager</div><div class="col-sm-6"><span th:text="${projectManager}"></span></div>
                                                <div class="col-sm-6">Description</div><div class="col-sm-6"><span th:text="${projectDetail.pj_desc}"></span></div>
                                                <div class="col-sm-6">Type</div><div class="col-sm-6"><span th:text="${projectDetail.type}"></span></div>
                                                <div class="col-sm-6">Location</div><div class="col-sm-6"><span th:text="${projectDetail.location}"></span></div>
                                                <div class="col-sm-6">Start Date</div><div class="col-sm-6"><span th:text="${projectDetail.start_date}"></span></div>
                                                <div class="col-sm-6">End Date</div><div class="col-sm-6"><span th:text="${projectDetail.end_date}"></span></div>
                                            </div>
                                        </div>
                            
                            </div>
                            
                            
                        </div>                   
                    </div>
                </div>
                <!-- end project info -->
                <!-- start of request tool,accept,reject, -->
                <div id="tabs">
                    <ul class="nav nav-tabs" role="tablist"> 
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#request_tool" role="tab">Request Tools</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#pending_request" role="tab">Requests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#accepted_request" role="tab">Accept</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#rejected_request" role="tab">Reject</a>
                        </li>
                    </ul>
                    <!-- Tab panes {Fade}  -->
                    <div class="tab-content">
                        <!-- start tool list -->
                        <div class="tab-pane fade in active" id="request_tool" role="tabpanel">
                            <div class="bs-callout bs-callout-danger">
                                <h3>Select Tools</h3>
                                <div>
                                	<div th:each="currentRequests : ${currentRequests}" >
                                		<label th:text="${currentRequests.toolAssetRequests.name}" style="padding:1px;"></label> /qty=  <span th:text="${currentRequests.request_qty}"></span> <a th:href="@{/member/removeRequestTool(RequestId=${currentRequests.request_id})}"><span class="glyphicon glyphicon-remove" style="border:1px solid red;padding:3px;"></span></a>	
                                	</div>                        
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-4" th:each="ToolAsset : ${ToolAsset}">
                                        	<!-- start card -->
                                            <div class="card" id="card">
                                                
                                                    <form class="select_tool" th:action="@{/member/addRequest}" th:object="${request}"  method="POST">
                                                    	<div>
                                                    			<select style="font-size:20px" id="tool_name" th:field="*{tool_asset_id}" name="tool_name" >
                                                        			<option th:value="${ToolAsset.tool_asset_id}" th:text="${ToolAsset.name}"></option>                                
                                                        		</select>
                                                    	</div>
                                                    	<div>
                                                    		Qty
	                                                        	<!-- <select th:field="*{request_qty}">
		                                                          <option value="1">1</option>
		                                                          <option value="2">2</option>
		                                                          <option value="3">3</option>
		                                                          <option value="4">4</option>
		                                                          <option value="5">5</option>
		                                                        </select> -->
		                                                        <input type="number" id="qty" name="qty" th:field="*{request_qty}" min=1 max=20 required>
                                                    	</div>
                                                    	<input type="hidden" th:field="*{request_id}"><br>
                                                    	<div class="text-center">
                                                   			
                                                        	<button th:style="${projectDetail.end_date} ?  ${'pointer-events: none;'} " type="submit" class="btn" id="select-btn"><i style="font-size:18px;color:#0066ff;" class="fa">&#xf00c;</i></button>
                                                        	
                                                        	
                                                    	</div>                                                          
                                                    </form>    
                                                                                                  
                                                
                                            </div>
                                           <!--  end card -->
                                       </div>
                                                                      
                                    </div>
                                </div>
                                <!-- end second role -->
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <a th:style="${projectDetail.end_date} ? ${'cursor:not-allowed;'} : ${'cursor:allowed;'}" th:href="@{/member/cancelRequest}"class="btn" id="new_btn">Cancel</a>
                                        <a th:style="${projectDetail.end_date} ? ${'cursor:not-allowed;'} : ${'cursor:allowed;'}" href="/member/confirmRequest" class="btn" id="new_btn">Request</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end tool list -->
                        <!-- start pending request list -->
                        <div class="tab-pane fade" id="pending_request" role="tabpanel">
                            <div class="bs-callout bs-callout-danger">
                                <h3>Requested Tools</h3>
                                <table class="table table-hover">
                                    <thead>
                                      <tr style="background-color:#0066ff; color:white;">
                                        <th>Tools</th>
                                        <th>Size</th>
                                        <th>Qty</th>
                                        <th>Date Time</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr th:each="Requests : ${Requests}">
                                        <td th:text="${Requests.toolAssetRequests.name}"></td>
                                        <td th:text="${Requests.toolAssetRequests.size}"></td>
                                        <td th:text="${Requests.request_qty}"></td>
                                        <td th:text="${Requests.date_time}"></td>
                                      </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end accepted request list -->
                        <!-- start accepted request list -->
                        <div class="tab-pane fade" id="accepted_request" role="tabpanel">
                            <div class="bs-callout bs-callout-danger">
                                <h3>Accepted Tools</h3>
                                <table class="table table-hover">
                                    <thead>
                                      <tr style="background-color:#0066ff; color:white;">
                                        <th>Tools</th>
                                        <th>Size</th>
                                        <th>Qty</th>
                                        <th>Date Time</th>                                        
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr th:each="acceptByOpList : ${AcceptProject}">
                                        <td th:text="${acceptByOpList.toolAssetRequests.name}"></td>
                                        <td th:text="${acceptByOpList.toolAssetRequests.size}"></td>
                                        <td th:text="${acceptByOpList.request_qty}"></td>
                                        <td th:text="${acceptByOpList.date_time}"></td>                                    
                                      </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end accepted request list -->
                        <!-- start rejected request list -->
                        <div class="tab-pane fade" id="rejected_request" role="tabpanel">
                            <div class="bs-callout bs-callout-danger">
                                <h3>Rejected Tools</h3>
                                <table class="table table-hover">
                                    <thead>
                                      <tr style="background-color:#0066ff; color:white;">
                                        <th>Tools</th>
                                        <th>Size</th>
                                        <th>Qty</th>
                                        <th>Date Time</th>
                                        <th>Rejected By</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr th:each="RejectProject : ${RejectProject}">
                                        <td th:text="${RejectProject.toolAssetRequests.name}"></td>
                                        <td th:text="${RejectProject.toolAssetRequests.size}"></td>
                                        <td th:text="${RejectProject.request_qty}"></td>
                                        <td th:text="${RejectProject.date_time}"></td>
                                        <td th:text="${RejectProject.rejectby}"></td>                                 
                                      </tr>                                     
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end rejected request list -->
                    </div>
                </div>
                <!-- end request tool,accept,reject -->           
            </div>           
            <!-- end custom design -->
            <!-- start footer -->
            <div class="container-fluid bg-primary text-center" style="height: 40px; padding-top: 10px;">
                &copy;
                <script>
                  document.write(new Date().getFullYear())
                </script>.All rights reserved.<!-- , made with <i class="material-icons">favorite</i> by
                <a href="">TZM</a>. -->
          </div> 
          <!-- end footer -->
        </div>
        <!-- end page content -->
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
       
        $(document).ready(function()
        {
            $("[rel='tooltip']").tooltip();
         
        });
	
        
    </script>
</body>

</html>