.card{
    height: 140px;
    margin-bottom: 0px;
    margin-top: 24px;
   margin-left: 50px;
   margin-right:5px;
   width:100%;
 box-shadow: 2px 2px #2788E9;
}
.card:hover {
     transform: scale(1);
     box-shadow:  0 16px 20px 0 rgba(39,136,299,0.7);
}

p{
   
    font-size: 20px;
    text-align: right;
   
    margin-top: 5px;
    margin-left: 50px;
}
.p_weight{
	 font-weight:bold;
	 color: #0066ff ;
}
.cardrow{
    width: 90%;
   
}
label{
    font-size: 20px;
}
.p_body{
	font-size: 15px;
	font-weight: normal;
	margin-left: 10px;
	color: #0066ff ;
	

	
}