/* .funny{
	font-style: italic;
	color: green;
}
body{
	background-image:url('/img/bgimg.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment: fixed; 
	background-color: #464646;
	opacity: 0.5;
    filter: alpha(opacity=50);
}
.contaier{
	opacity:0;
} */
/*
    style by Thein Zaw Myo
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 0px;
	color:white;
    /*margin-bottom: 20px;*/
	background: linear-gradient(to left, #33ccff 0%, #0066ff 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #fff;
    color: #0066ff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 5px;
    background: #0066ff;
    color: #fff;
}

#sidebar ul.components {
    padding: 5px 0;
    border-bottom: 1px solid #0066ff;
}

#sidebar ul p {
    color: #fff;
    padding: 1px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
	/*border:1px solid white;
	border-radius:2px;*/
	margin:2px 5px;
	
}
#userDropdown{
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sidebar ul li a:hover {
    color: white;
    background: #0066ff;
    font-weight: bold;
    border-radius:3px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: white;
    background: #0066ff;
    border-radius:3px;
}

a[data-toggle="collapse"] {
    position: relative;
}



ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: transparent;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 0px 5px;
    min-height: 100vh;
    height: 100%;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
     #sidebarCollapse span {
        display: none;
    }
}
#sidebarCollapse{
    background-color: transparent;
}

#new_btn{
    color: white;
    background-color: #3399ff;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div{
    margin: 2px 0px;
}
/* datatable */
