.container{
    width: 85%;
    padding-left: 70px;
}
.card{
    width: 106%;
    height: 100px;
    background-color: #23B7F9;
    padding-left: 40px;
    padding-top: 6px;
}
.card:hover {
     transform: scale(1);
     box-shadow:  0 16px 20px 0 rgba(0,0,0,0.2);
}
p{
    color: #fff;
    font-size: 15px;
    margin-left: 33px;
    margin-top: -10px;
}
.total{
    font-size: 13px;
}
h4{
	font-size:22px;
}
p2{
   
    font-size: 20px;
    text-align: right;
   
    margin-top: 5px;
    margin-left: 50px;
}
.p_weight{
	 font-weight:bold;
	 color: #0066ff ;
}