<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>AdminViewITAssetList</title>
    <!--  link for datable  -->
    <script language="JavaScript" src="https://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript">
    </script>
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
    <!-- END -->

    <!-- Bootstrap CSS CDN -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
    </script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/admin/style.css}">
     <link rel="stylesheet" th:href="@{/css/admin/showasset.css}">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <div class="row">    
                    <div class="col-sm-6 text-center">
                    <a href="/admin/adminprofile">
                        <img src="/img/admin.png" class="img-circle" width="50px;" height="50px;" 
                        alt="image">
                      </a>
                         <h4 th:text="${empName}" style="font-size:18px;"></h4>
                    </div>
                    <div class="col-sm-6 text-center" style="margin-top: 40px;">
                        <a href="/main/login" onclick="if(!(confirm('Are you sure ?'))) return false"><i class="material-icons">settings_power</i> </a>
                    </div>
                 </div>
            </div>
            <hr>
            <ul class="list-unstyled components" >
                <h4 style="text-align: center;">Action</h4>
                <li class="">
                    <a th:href="@{/admin/adminViewDepartment}">Departments</a>
                </li>
                <li class="">
                     <a th:href="@{/admin//adminViewEmployee}">Employees</a>
                </li>
                <li class="">
                    <a th:href="@{/admin/adminViewProject}">Projects</a>
                </li>
                 <li class="active">
                     <a th:href="@{/admin/adminFixedAsset}">Assets</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-primary">
                <button type="button" id="sidebarCollapse" class="btn">
                    <i class="fa fa-align-justify"></i>                        
                </button>
                <div class="navbar-header">
                    <a href="" class="navbar-brand" style="color: white;font-size: 2.2vw;">ICT Star Group Myanmar</a>
                </div>                
            </nav> 
            <!-- You can write your design of project in this tag(div) --> 
            <div class="container-fluid">
               <!--card view-->
               <div class="container">
                    <div class="row">
                    <div class="col-md-3">
                            <div class="card">
                                <a th:href="@{/admin/adminFixedAsset}">
                                    <div class="card-body">
                                    <p>Fixed Assets</p>
                                     <p th:text="${fixedTotal}"></p>
                                    </div>
                                </a>
                            </div>
                    </div>
                    <div class="col-md-3">
                            <div class="card">
                               <a th:href="@{/admin/adminItAsset}">
                                    <div class="card-body">
                                    <p>IT Assets</p>
                                    <p th:text="${itTotal}"></p>
                                    </div>
                                </a>
                            </div>
                    </div>
                    <div class="col-md-3">
                            <div class="card">
                               <a th:href="@{/admin/adminToolAsset}">
                                    <div class="card-body">
                                    <p>Tool Assets</p>
                                     <p th:text="${total}"></p>
                                    </div>
                                </a>
                            </div>
                    </div>
                </div>

            </div>
            <br><h3>IT Asset Lists</h3>
             <div class="table-responsive" style="min-height: 500px;">
	             <table class="table table-hover" id="dataTable" width="100%">
	                             <thead>
	                               <tr style="background-color:#0066ff; color:white;">
	                               		<th>#</th>
	                                    <th>IT_asset_id</th>
	                                    <th>Type</th>
	                                    <th>Brand</th>
	                                    <th>Model</th>
	                                    <th>Purchase_Date</th>
	                                    <th>Price</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                    <tr th:each="assetlist,status : ${admin}">
	                                    <td th:text=${status.index}+1></td>
	                                 	 <td th:text="${assetlist.it_asset_id}"></td>
	                                   	 <td th:text="${assetlist.type}"></td>
	                                     <td th:text="${assetlist.brand}"></td>
	                                   	 <td th:text="${assetlist.model}"></td>
	                                   	 <td th:text="${assetlist.purchase_date}"></td>
	                                   	 <td th:text="${assetlist.price}"></td>
	                                  </tr> 
	                          </tbody>
	                        </table>
	                    </div>
                </div>
            <!-- end -->   
             <div class="container-fluid bg-primary text-center" style="height: 40px; padding-top: 10px;">
                &copy;
                <script>
                  document.write(new Date().getFullYear())
                </script>.All rights reserved.
          </div>    
        </div>
    </div>
   

 <script type="text/javascript">
 $(document).ready(function() {
    $('#dataTable').DataTable( {
        " autoWidth ":true,
       "paging":   true,
        "ordering": true,
       "searching": true,
         "paging": true, 
         "info": true,         
        "lengthChange":false 
    } );
    
} );

    </script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });


    </script>
    <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../js/demo/datatables-demo.js"></script>
</body>

</html>