<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Admin Update Employee</title>
    <!--  link for datable  -->
    <script language="JavaScript" src="https://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript">
    </script>
    <link href="../vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!-- END -->

    <!-- Bootstrap CSS CDN -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
    </script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Our Custom CSS -->
        <link rel="stylesheet" th:href="@{/css/style.css}">

    
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" crossorigin="anonymous"></script>
    <style>

* {
  box-sizing: border-box;
}

.row1 {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
</style>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <div class="row">    
                    <div class="col-sm-6 text-center">
                        <a href="/admin/adminprofile">
                        <img src="..\img\admin.png" class="img-circle" width="50px;" height="50px;" 
                        alt="image">
                        </a>
                        <h4 th:text="${empName}"></h4>
                    </div>
                    <div class="col-sm-6 text-center" style="margin-top: 40px;">
                        <a href="/main/login" onclick="if(!(confirm('Are you sure ?'))) return false"><i class="material-icons">settings_power</i> </a>
                    </div>                 </div>
            </div>
			<hr>
            <ul class="list-unstyled components" >
                <h4 style="text-align: center;">Action</h4>
                <li>
                    <a th:href="@{/admin/adminViewDepartment}">Department</a>
                </li>
                <li class="active">
                    <a th:href="@{/admin//adminViewEmployee}">Employees</a>
                </li>
                <li>
                    <a th:href="@{/admin/adminViewProject}">Project</a>
                </li>
                <li>
                    <a th:href="@{/admin/adminFixedAsset}">Asset</a>
                </li>
                
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-primary">
                <button type="button" id="sidebarCollapse" class="btn">
                    <i class="fa fa-align-justify"></i>                        
                </button>
                <div class="navbar-header">
                    <a href="" class="navbar-brand" style="color: white;font-size: 2.2vw;">ICT Star Group Myanmar</a>
                </div>                
            </nav> 
	<div class="container-fluid">
                <div>
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-heading">
                            <h3 class="text-center">Update Employee</h3>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/admin/addEmployee}" th:object="${employee}" method="POST" role="form">
                                <input type="hidden" th:field="*{emp_id}">
                             <div class="row1">
                          <div class="col-50">
                           
                           <label for="emp_name">Name</label>
                                    <input type="text" th:field="*{emp_name}" class="form-control" id="emp_name" required="true" pattern="[A-Za-z]+" title="Please enter letter" maxlength="20" readonly>
                           <label for="dept_name">Department Name</label>
                                    <select th:field="*{dept_id}" class="browser-default custom-select" style="height:30px;">
                                     <option th:each="dropDownDept : ${department}"
                                                                     th:value="${dropDownDept.dept_id}"
                                                                     th:text="${dropDownDept.dept_name}">
                                     </option>
                                 
                 
                                     </select>
                             
                            <label for="email">Email</label>
                                    <input type="email" th:field="*{email}" class="form-control" id="email" required="true">
                             
			     
                                    <input type="hidden" th:field="*{password}" class="form-control" id="password" required="true" pattern="[A-Za-z0-9]+">
                             <label for="phone">Phone</label>
                                    <input type="text" th:field="*{phone}" class="form-control" id="phone" required="true" pattern="[0-9]+" title="Please enter number" maxlength="13">
                             <label for="dob" style="display:none;">Date of Birth</label>
                                    <input type="hidden" th:field="*{dob}" class="form-control" onchange="TDate()" id="dob" required="true">
                          </div>

                          <div class="col-50">
                            <label for="address">Address</label>
									 <textarea th:field="*{address}" class="form-control" id="address" required="true"  maxlength="50"></textarea>
                           <label for="role_name">Role Name</label>
                                    <select th:field="*{role_name}" class="browser-default custom-select" style="height:30px;">
                                            <option value="Member">Member</option>   
                                            <option value="Department Head">Department Head</option>                     
                                            <option value="Project Manager">Project Manager</option>
                                            <option value="Operation Team">Operation Team</option>
                                    </select>
                            
                            <label for="nation">Nation</label>
                                    <input type="text" th:field="*{nation}" class="form-control" id="nation" required="true" pattern="[A-Za-z]+" title="Please enter letter" maxlength="20">
                           <label for="gender" style="display:none;">Gender</label>
                                    <select th:field="*{gender}" class="browser-default custom-select custom-select-lg" style="display:none;">
                                            <option value="Male">Male</option>   
                                            <option value="Female">Female</option>
                                     </select>                   

                            <label for="start_date" style="display:none;">Start Date</label>
                                    <input type="hidden" th:field="*{start_date}" class="form-control" id="start_date" required="true">
			            </div>
                          
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn" id="new_btn" onclick="Clear()">Update</button>
                        </div>
                        
                      </form>
                    </div>
                        </div>
	                  </div>
                    </div>
               
                
            </div>     
            <!-- end -->
            <div class="container-fluid bg-primary text-center" style="height: 40px; padding-top: 10px;">
                &copy;
                <script>
                  document.write(new Date().getFullYear())
                </script>.All rights reserved.
          </div>         
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });

        function TDate() {
            var UserDate = document.getElementById("start_date").value;
            var ToDate = new Date();

            if (new Date(UserDate).getTime() <= ToDate.getTime()) {
                  alert("The Date must be Smaller than today date, Try Again!");
                  document.getElementById("start_date").value="0";
                  return false;
             }
            return true;
        }
        </script>
    <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../js/demo/datatables-demo.js"></script>
</body>

</html>

