<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>AdminViewProject</title>
    <!--  link for datable  -->
    <script language="JavaScript" src="https://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript">
    </script>
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
    <!-- END -->

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
    </script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/admin/showasset.css}">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <div class="row">    
                    <div class="col-sm-6 text-center">
                       <a href="/admin/adminprofile">
	                        <img src="/img/admin.png" class="img-circle" width="50px;" height="50px;" 
	                        alt="image">
                        </a>
                         <h4 th:text="${empName}" style="font-size:18px;"></h4>
                    </div>
                    <div class="col-sm-6 text-center" style="margin-top: 40px;">
                        <a href="/main/login" onclick="if(!(confirm('Are you sure ?'))) return false"><i class="material-icons">settings_power</i> </a>
                    </div>
                 </div>
            </div>
			<hr>
            <ul class="list-unstyled components" >
                <h4 style="text-align: center;">Action</h4>
                <li>
                    <a th:href="@{/admin/adminViewDepartment}">Departments</a>
                </li>
               
                <li>
                    <a th:href="@{/admin/adminViewEmployee}">Employees</a>
                </li>
                <li class="active">
                    <a th:href="@{/admin/adminViewProject}">Projects</a>
                </li>
                <li>
                    <a th:href="@{/admin/adminFixedAsset}">Assets</a>
                </li>
                <!-- <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li> -->
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-primary">
                <button type="button" id="sidebarCollapse" class="btn">
                    <i class="fa fa-align-justify"></i>                        
                </button>
                <div class="navbar-header">
                    <a href="" class="navbar-brand" style="color: white;font-size: 2.2vw;">ICT Star Group Myanmar</a>
                </div>                
            </nav> 
            <!-- You can write your design of project in this tag(div) --> 
            <div class="container-fluid">
                <div>
                    <label style="font-size: 30px;">Project List</label> 
                </div>
                
                <div class="table-responsive" style="min-height: 500px;">
                            <table class="table table-hover" id="dataTable" width="100%" th:with="no=1">
                              <thead>
                                <tr style="background-color:#0066ff; color:white;">
                                   <th>#</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Location</th>
                                    <th>Type</th>
                                    <th>Customer</th>
                                    <th>Start Date</th>
                                    <th>End date</th>
                                    <th>Members</th>
                                </tr>
                            </thead>
                            <tbody> 
                        
                                     <tr th:each="tempAllProject,no : ${admin_view_project}">
                                    
                                    <td  th:text="${no.index + 1}"></td>
                               <!--       <input type="hidden"   th:text="${tempAllProject.pj_id}"> -->
                                       <td th:text="${tempAllProject.pj_name}"></td>
                                        <td th:text="${tempAllProject.pj_desc}"></td>
                                        <td th:text="${tempAllProject.location}"></td>
                                        <td th:text="${tempAllProject.type}"></td>
                                        <td th:text="${tempAllProject.pj_customer}"></td>
                                        <td th:text="${tempAllProject.start_date}"></td>
                                        <td th:text="${tempAllProject.end_date}"></td>
                                        <td><a th:href="@{/admin/projectMember(pj_id=${tempAllProject.pj_id})}" class="btn btn-primary" id="new_btn">View</a></td>
                                    </tr> 
                                   
                          </tbody>
                        </table>
                  </div>                    
            </div>   
            <!-- end -->
            <div class="container-fluid bg-primary text-center" style="height: 40px; padding-top: 10px;">
                &copy;
                <script>
                  document.write(new Date().getFullYear())
                </script>.All rights reserved.
          </div>      
        </div>
    </div>
   

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script> -->

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });


    </script>
     <script type="text/javascript">
 $(document).ready(function() {
    $('#dataTable').DataTable( {
        " autoWidth ":true,
       "paging":   true,
        "ordering": true,
       "searching": true,
         "paging": true, 
         "info": true,         
        "lengthChange":false 
 
        } );
    
} );

    </script>
    <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../js/demo/datatables-demo.js"></script>
</body>

</html>