label{
	font-size: 15px;
}
hr{
	background-color: #0066ff;
}
/*#body_content{
	
	border:2px solid #0066ff;
	border-radius: 5px;
}*/
#body_content{
	border-right:1px solid black;
	
	padding:10px;
	padding-right:20px;
}
.form-control{
	width: 200px;
}

@media (max-width: 768px){
	.form-control{
		width: 100%;
	}
	#body_content{
		border-bottom:1px solid black;
	}
}
img{
	border: 1px solid #0066ff;
}
.profile{
	/*border-bottom: 2px solid #0066ff;*/
	padding-bottom: 10px;
}