<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>insert</title>
    <!--  link for datable  -->
    <script language="JavaScript" src="https://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript">
    </script>
    <link th:href="@{vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
    <!-- END -->

    <!-- Bootstrap CSS CDN -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
    </script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <div class="row">    
                    <div class="col-sm-6 text-center">
                    
                         <a th:href="@{/OperationTeam/profile}">
                            <img src="../img/admin.png" class="img-circle" width="50px;" height="50px;" 
                        alt="image">
                        </a>
                       <h4 th:text="${Emp_Name}"></h4>
                    </div>
                    <div class="col-sm-6 text-center" style="margin-top: 10px;">
                        <a href=""><i class="fas fa-bell" id="icon" style="font-size: 23px;"></i>
                        </a>
                        <br><br>
                        <a href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">settings_power</i> </a>
                        <div class="dropdown-menu shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" 
                            data-target="#logoutModal">
                              <a href="/main/login"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                              Logout</a>
                            </a>
                        </div>
                    </div>
                 </div>
            </div>
			<hr>
            <ul class="list-unstyled components" >
                <h4 style="text-align: center;">Action</h4>
                <li class="active">
                    <a href="/OperationTeam/fixedasset">Assets</a>
                </li>
                <li class="">
                    <a href="/OperationTeam/showPending">Pending</a>
                </li>
                <li class="">
                    <a href="/OperationTeam/showAcceptList">Accept</a>
                </li>
                <li class="">
                    <a href="/OperationTeam/showRejectList">Reject</a>
                </li>
                <li class="">
                    <a href="/OperationTeam/showDamage">Damage</a>
                </li>
                <li class="">
                    <a th:href="@{/OperationTeam/showDeptAsset(dept_id=1)}">Department</a>
                </li>
                <!-- <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li> -->
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-primary">
                <button type="button" id="sidebarCollapse" class="btn">
                    <i class="fa fa-align-justify"></i>                        
                </button>
                <div class="navbar-header">
                    <a href="" class="navbar-brand" style="color: white;font-size: 2.2vw;">ICT Star Group Myanmar</a>
                </div>                
            </nav> 
            <!-- You can write your design of project in this tag(div) --> 
            <div class="container-fluid">
              
                <div class="table-responsive" style="min-height: 500px;">
                             <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-heading">
                            <h3 class="text-center">Save IT Asset</h3>
                        </div>
                        <div class="modal-body">
                            <form action="#" th:action="@{/OperationTeam/saveITAsset}" th:object="${itAsset}"  method="POST" >
                                <div class="form-group">
                                    <label for="name">IT Asset ID:</label>
                                  <!--   <input type="text" class="form-control" id="fixed_asset_id"> -->
                                   		<input type="text" th:field="*{it_asset_id}" class="form-control" id="it_id" required="true"/>
                                 </div>
                                <div class="form-group">
                                    <label for="type">Type:</label>
                                   <!--  <input type="text" class="form-control" id="name"> -->
                                   	<input type="text" th:field="*{type}" class="form-control" required="true"/>                                   
                                </div>
                                <div class="form-group">
                                    <label for="location">Brand:</label>
                                   <!--  <input type="text" class="form-control" id="qty"> -->
                                    <input type="text" th:field="*{brand}" class="form-control " required="true" />                                  
                                </div>
                                <div class="form-group">
                                    <label for="serial_no">Serial No:</label>
                                    <input type="text" th:field="*{serial_no}" class="form-control " required="true" id="serial_no"/>                                  
                                </div>
                                <div class="form-group">
                                    <label for="location">Model:</label>
                                   <!--  <input type="text" class="form-control" id="qty"> -->
                                    <input type="text" th:field="*{model}" class="form-control" required="true" />                                  
                                </div>
                                <div class="form-group">
                                    <label for="end_date">Purchase Date:</label>
                                    <!-- <input type="text" class="form-control" id="date"> -->
                                     <input type="date" th:field="*{purchase_date}" class="form-control" required="true" />
                     
                                </div>
                                <div class="form-group">
                                    <label for="description">Price:</label>
                                   <!--  <input type="text" class="form-control" id="price"> -->
                                     <input type="text" th:field="*{price}" class="form-control" required="true" />
                                     
                                </div>

                                <div class="form-group text-center">
                                        <!-- <button class="btn" id="new_btn">	<a th:href="@{/asset/save}" class="btn btn-info btn-sm">OK</a></button> -->
                                  	<button type="submit" class="btn" id="new_btn" >Submit</button>   
                                </div>
				             </form>
                        </div>
                        </div>
                </div>
                
            </div>   
            <!-- end -->
            <div class="container-fluid bg-primary text-center" style="height: 40px;">
                &copy;
                <script>
                  document.write(new Date().getFullYear())
                </script><!-- , made with <i class="material-icons">favorite</i> by
                <a href="">TZM</a>. -->
          </div>      
        </div>
    </div>
   

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script> -->

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
        
        $(document).ready(function(){
         	 var itId = $('#it_id').val();
         	 if(itId != ''){
         		 $('#it_id').attr("readonly",true);
         	 }
         	 else{
         		 $('#it_id').attr("readonly",false);
         	 }
         })


    </script>
    <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../js/demo/datatables-demo.js"></script>
</body>

</html>