<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Dept Asset</title>
    <!--  link for datable  -->
    <script language="JavaScript" src="https://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript">
    </script>
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
    <!-- END -->

    <!-- Bootstrap CSS CDN -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
    </script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/showasset.css}">
    <link rel="stylesheet" type="text/css" href="/css/member/project_detail.css">
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 	
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <div class="row">    
                    <div class="col-sm-6 text-center">
                    
                         <a th:href="@{/OperationTeam/profile}">
                            <img src="../img/admin.png" class="img-circle" width="50px;" height="50px;" 
                        alt="image">
                        </a>
                       <h4 th:text="${Emp_Name}"></h4>
                    </div>
                    <div class="col-sm-6 text-center" style="margin-top: 10px;">
                        <a href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">settings_power</i> </a>
                        <div class="dropdown-menu shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" 
                            data-target="#logoutModal">
                              <a href="/main/login"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                              Logout</a>
                            </a>
                        </div>
                    </div>
                 </div>
            </div>
            <hr>
            <ul class="list-unstyled components" >
                <h4 style="text-align: center;">Action</h4>
                <li class="">
                    <a href="/OperationTeam/fixedasset">Assets</a>
                </li>
                <li class="">
                    <a href="/OperationTeam/showPending">Pending</a>
                </li>
                <li class="">
                    <a href="/OperationTeam/showAcceptList">Accept</a>
                </li>
                <li class="">
                    <a href="showReject">Reject</a>
                </li>
                <li class="">
                    <a href="/OperationTeam/showDamage">Damage</a>
                </li>
                <li class="active">
                    <a href="">Department</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-primary">
                <button type="button" id="sidebarCollapse" class="btn">
                    <i class="fa fa-align-justify"></i>                        
                </button>
                <div class="navbar-header">
                    <a href="" class="navbar-brand" style="color: white;font-size: 2.2vw;">ICT Star Group Myanmar</a>
                </div>                
            </nav> 
            <!-- You can write your design of project in this tag(div) --> 
            <div class="container-fluid">
               <!--start department list-->
               <div class="container">
                    <div class="row">
	                    <div class="col-md-3" th:each="AllDept : ${deptList}">                   
	                            <div class="card">
	                                <a th:href="@{/OperationTeam/showDeptAsset(dept_id=${AllDept.dept_id})}">
	                                    <div class="card-body">
	                                    	<p th:text="${AllDept.dept_name}"></p>
	                                    </div>
	                                </a>
	                            </div>                    
	                    </div>                   
                	</div>
            	</div>
            	<!-- end department list -->
            	<!-- start dept asset -->
           
            	<h5>Asset List For <span th:text="${deptName}"></span> Department</h5>
            	<div id="tabs">
                    <ul class="nav nav-tabs" role="tablist"> 
                        <li class="nav-item">
                            <a class="nav-link-active" data-toggle="tab" href="#fixed_asset" role="tab">Fixed Asset</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#it_asset" role="tab">IT Asset</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tool_asset" role="tab">Tool Asset</a>
                        </li>                    
                    </ul>
                    <a href="/OperationTeam/addAssetDept" class="btn" id="new_btn">Add Asset</a>
                    <!-- Tab panes {Fade}  -->
                    <div class="tab-content">                       
                        <!-- start dept fixed asset -->
                        <div class="tab-pane fade" id="fixed_asset" role="tabpanel">
                            <div class="bs-callout bs-callout-danger">
                                <h3>Fixed Asset For <span th:text="${deptName}"></span> Department</h3>
                                
                               
                                <table class="table table-hover">
                                    <thead>
                                      <tr style="background-color:#0066ff; color:white;">
                                        <th>Name</th>                                  
                                        <th>Qty</th>
                                        <th>Action</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr th:each="deptFixedAsset : ${deptFixedAsset}">
                                        <td th:text="${deptFixedAsset.fixedAssetDept.name}"></td>
                                        <!-- <td th:text="${deptFixedAsset.qty}"></td> -->
                                        <td>1</td>
                                        <td><a th:href="@{/OperationTeam/removeDeptFixedAsset(id=${deptFixedAsset.id})}" class="btn btn-primary" id="new_btn">Remove</a></td>                                       
                                      </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end dept fixed asset -->
                        <!-- start dept it asset  -->
                        <div class="tab-pane fade" id="it_asset" role="tabpanel">
                            <div class="bs-callout bs-callout-danger">
                                <h3>IT Asset For <span th:text="${deptName}"></span> Department</h3>
                                <table class="table table-hover">
                                    <thead>
                                      <tr style="background-color:#0066ff; color:white;">
                                        <th>Type</th>
                                        <th>Brand</th>
                                        <th>Model</th>
                                        <th>Action</th>                                        
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr th:each="deptITAsset : ${deptITAsset}">
                                        <td th:text="${deptITAsset.itAssetDept.type}"></td>
                                        <td th:text="${deptITAsset.itAssetDept.brand}"></td>
                                        <td th:text="${deptITAsset.itAssetDept.model}"></td>
                                        <td>
                                        	<a th:href="@{/OperationTeam/viewUserITAsset(id=${deptITAsset.it_asset_id})}" class="btn btn-primary" id="new_btn">View User</a>
                                        	<a th:href="@{/OperationTeam/removeDeptITAsset(id=${deptITAsset.id})}" class="btn btn-primary" id="new_btn">Remove</a>                                     	
                                        </td>                                    
                                      </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end IT asset  -->
                        <!-- start Tool Asset -->
                        <div class="tab-pane fade" id="tool_asset" role="tabpanel">
                            <div class="bs-callout bs-callout-danger">
                                <h3>Tool Asset For <span th:text="${deptName}"></span> Department</h3>
                                <table class="table table-hover">
                                    <thead>
                                      <tr style="background-color:#0066ff; color:white;">
                                        <th>Name</th>
                                        <th>Size</th>
                                        <th>Action</th>                                       
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr th:each="deptToolAsset : ${deptToolAsset}">
                                        <td th:text="${deptToolAsset.toolAssetDept.name}"></td>
                                        <td th:text="${deptToolAsset.toolAssetDept.size}"></td>
                                        <td>                                       	
                                        	<a th:href="@{/OperationTeam/removeDeptToolAsset(id=${deptToolAsset.id})}" class="btn btn-primary" id="new_btn">Remove</a>                                     	
                                        </td>                                                                       
                                      </tr>                                     
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end Dept Tool Asset -->
                    </div>
                </div>
                <!-- end dept asset -->
               
              
        	</div>
        	<!-- end custom design -->
    </div>
   

 <script type="text/javascript">
 $(document).ready(function() {
    $('#dataTable').DataTable( {
        " autoWidth ":true,
       "paging":   true,
        "ordering": true,
       "searching": true,
         "paging": true, 
         "info": false,         
        "lengthChange":false 
    } );
    
} );

    </script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });


    </script>
    <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../js/demo/datatables-demo.js"></script>
</body>

</html>