.container{
    width: 85%;
    padding-left: 70px;
}
.card{
    width: 106%;
    height: 96px;
    background-color: #23B7F9;
    padding-left: 40px;
    padding-top: 6px;
}
p{
    color: #fff;
    font-size: 15px;
    margin-left: 33px;
    margin-top: -10px;
}
.total{
    font-size: 13px;
}