<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Office Assets Management</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style_home.css}">
</head>
<body>
	<div class="container">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" 
				data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- <img src="" width="100px;" height="50px;"> -->
				<a href="" class="navbar-brand" style="color: white;">ICT Star Group Myanmar</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li style="margin-left: 5px;">
						<a href="#"><span class="glyphicon glyphicon-home"></span> Home</a>
					</li>
					<li style="margin-left: 5px;">
						<a th:href="@{login}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	</div>

	<div class="container" id="text">
		<h1 style="font-size: 8vw;">Office Assets Management</h1>
		<h1>Work for smile! Work for happiness!</h1>
	</div>

	<div id="footer">
		<footer class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="row">
							<div class="col-xs-1">
								<i class="fa fa-envelope fa-1g" style="color: white;"></i>
							</div>
							<div class="col-xs-10">
								<span style="color: white;">info@isgm2.com</span>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-1">
								<i class="fa fa-map-marker" style="color: white;"></i>
							</div>
							<div class="col-xs-10">

								<span style="color: white;">
								Kantharyar Office Tower, 10<sup>th</sup> Floor, Corner of
                                Kan Yeik Thar Road &amp; U Aung Myat Road,
                                Mingalar Taung Nyut Township, Yangon,Myanmar.</span>
							</div>
				</div>
				<div class="row">
							<div class="col-xs-1">
								<i class="fa fa-phone" style="color: white;"></i>
							</div>
							<div class="col-xs-10">

								<span style="color: white;">+95 1-8619695</span>

							</div>
						</div>
			</div>
			<div class="col-md-6">
				<h5>&copy Team-A's Theme,All right reserved</h5>
			</div>
	</footer>
	</div>
</body>

</html>