<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>New Project</title>
    <!--  link for datable  -->
    <!-- END -->
    <script language="JavaScript" src="https://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript">
    </script>

    <!-- Bootstrap CSS CDN -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
    </script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <div class="row">    
                    <div class="col-sm-6 text-center">
                        <a th:href="@{/project_manager/profile}">
                            <img src="../img/admin.png" class="img-circle" width="50px;" height="50px;" 
                        alt="image">
                        </a>
                        <h4 th:text="${profile.emp_name}"></h4>
                    </div>
                    <div class="col-sm-6 text-center" style="margin-top: 40px;">
                        <a href="/main/login" onclick="if(!(confirm('Are you sure ?'))) return false"><i class="material-icons">settings_power</i> </a>
                    </div>
                 </div>
            </div>
			<hr style="background-color:white;">
            <ul class="list-unstyled components" >
                <h4 style="text-align: center;">Action</h4>
                <li class="active">
                    <a th:href="@{/project_manager/projectList}">Projects</a>
                </li>
                <li>
                    <a th:href="@{/project_manager/completeprojectList}">Finished Projects</a>
                </li>
                <hr>
                <h4 style="text-align: center;">Requested Tools</h4>
                <li>
                    <a th:href="@{/project_manager/pendingRequest}">Pending</a>
                </li>
                <li>
                    <a th:href="@{/project_manager/acceptRequest}">Accept</a>
                </li>
                <li>
                    <a th:href="@{/project_manager/rejectRequest}">Reject</a>
                </li>
                
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-primary">
                <button type="button" id="sidebarCollapse" class="btn">
                    <i class="fa fa-align-justify"></i>                        
                </button>
                <div class="navbar-header">
                    <a href="" class="navbar-brand" style="color: white;font-size: 2.2vw;">ICT Star Group Myanmar</a>
                </div>                
            </nav> 
            <!-- You can write your design of project in this tag(div) --> 
            <div class="container-fluid">
                <div>
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-heading">
                            <h3 class="text-center">New Project</h3>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/project_manager/saveProject}" th:object="${project}" method="POST" role="form">
                                <input type="hidden" th:field="*{pj_id}">
                                <div class="form-group">
                                    <label for="name">Project Name:</label>
                                    <input type="text" th:field="*{pj_name}" class="form-control"  id="name" required>
                                </div>
                                <div class="form-group">
                                    <label for="type">Type:</label>
                                    <input type="text" th:field="*{type}" class="form-control" id="type" required>
                                </div>
                                <div class="form-group">
                                    <label for="location">Location:</label>
                                    <input type="text" th:field="*{location}" class="form-control" id="location" required>
                                </div>
                                <div class="form-group">
                                    <label for="customer">Project Customer:</label>
                                    <input type="text" th:field="*{pj_customer}" class="form-control" id="location" required>
                                </div>
                                <div class="form-group">
                                    <label for="start_date">Start Date:</label>
                                    <input type="date" th:field="*{start_date}" onchange="TDate()" class="form-control" id="start_date" required>
                                </div>
                                <!-- <div class="form-group">
                                    <label for="end_date">End Date:</label>
                                    <input type="date" th:field="*{end_date}" onchange="CDate()" class="form-control" id="end_date" required>
                                </div> -->
                                <div class="form-group">
                                    <label for="description">Description:</label>
                                    <textarea class="form-control" th:field="*{pj_desc}" rows="5" id="description" required></textarea>
                                </div>
                                
                                <div class="form-group" th:object="${profile}">
                                    
                                    <input type="hidden" th:field="*{emp_id}" class="form-control" >
                                </div>

                                <div class="form-group text-center">
                                    <button type="submit" class="btn" id="new_btn" onclick="Clear()">Create </button>
                                </div>

                            </form>
                        </div>
                        </div>
                    </div>
                </div>
                
            </div>   
            <!-- end -->
            <div class="container-fluid bg-primary text-center" style="height: 40px; padding-top: 10px;">
                &copy;
                <script>
                  document.write(new Date().getFullYear())
                </script>.All rights reserved.<!-- , made with <i class="material-icons">favorite</i> by
                <a href="">TZM</a>. -->
          </div>      
        </div>
    </div>
   

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script> -->

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
        
        
        /* compare date */
        function TDate() {
            var UserDate = document.getElementById("start_date").value;
            var ToDate = new Date();

            if (new Date(UserDate).getTime() < ToDate.getTime()) {
                  alert("The Date must be Bigger than today date, Try Again!");
                  document.getElementById("start_date").value="0";
                  return false;
             }
            return true;
        }
        /* function CDate(){
            var start=document.getElementById("start_date").value;
            var end=document.getElementById("end_date").value;
            if(new Date(start).getTime() >= new Date(end).getTime()){
                alert("End Date must be greater than start Date");
                document.getElementById("end_date").value="0";
                return false;
            }
            return true;
        } */


    </script>
    <script src="../vendor/jquery/jquery.min.js"></script>
      <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

      <!-- Core plugin JavaScript-->
      <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

      <!-- Custom scripts for all pages-->
      <script src="../js/sb-admin-2.min.js"></script>

</body>

</html>